<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94604523317-c0jc1s2c19he6eo6ah93inu0umg3dh4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94604523317-c0jc1s2c19he6eo6ah93inu0umg3dh4o</string>
	<key>API_KEY</key>
	<string>AIzaSyB75NGcr5ASshR8W6sZjUTkUr6T1eqrTZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>94604523317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patricktestapp.tryagain</string>
	<key>PROJECT_ID</key>
	<string>receipt2-d0c55</string>
	<key>STORAGE_BUCKET</key>
	<string>receipt2-d0c55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94604523317:ios:711da78fc01ecbfa697e7c</string>
</dict>
</plist>